*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height: 100px;
}

main{
    background-color: rgb(223, 223, 223);
    height: 1000px;
}

.main-logo{
    height: 100px;
    vertical-align: middle;
}

.separator{
    height: 100px;
    background-color: rgb(223, 223, 223);
}

.container-options{
    height: 80px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.container{
    height: 85%;
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;

}

header, .container{
    background-color: white;
}

.add-task, .add-section{
    display: inline-block;
    width: 100px;
    height: 42px;
    border-radius: 10px;
    margin: 20px 0px 20px 40px;
    text-align: center;
    padding: 10px 0;
}

.add-task{
    background-color: rgb(37, 176, 223);
}

.add-section{
    border: 1px solid grey;
}

.grey-text{
    color: grey;
}

.white-text-options, .white-text{
    color: white;
}

.deadlines{
    margin: 40px 80px 40px 80px;
}

.deadlines-titles{
    font-size: 2.4em;
    font-weight: bold;
    font-family: monospace;
}

.deadline-content{
    font-size: 1.5em;
}

.white-text{
    font-size: 0.8em;
}

.editorial-box, .q1-goals-box, .recruting-box, .mobile-box, .website-box, .sales-box{
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding: 5px 0;
}

.editorial-box{
    background-color: rgb(77, 144, 231);
}

.q1-goals-box{
    background-color: rgb(139, 50, 223);
}

.recruting-box{
    background-color: green;
}

.website-box{
    background-color: plum;
}

.mobile-box{
    background-color: orange;
}

.sales-box{
    background-color: greenyellow;
}

#title{
    font-size: 3em;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    vertical-align: middle;
}

